[submodule "kitty-config"]
	path = kitty-config
	url = https://github.com/isaacdonaldson/kitty-config
[submodule "astronvim_config"]
	path = astronvim_config
	url = https://github.com/isaacdonaldson/astronvim_config
[submodule "ghostty-config"]
	path = ghostty-config
	url = https://github.com/isaacdonaldson/ghostty-config
